@font-face {
  font-family: primary;
  src: url("../../public/fonts/baroque.ttf");
}

.primaryFont {
  font-family: primary;
  color: black;
}

body {
  margin: 0 0 0 0;
  height: "100%";
  width: "100%";
}
