@font-face {
  font-family: primary;
  src: url("../../public/fonts/baroque.ttf");
}

.primaryFont {
  font-family: primary;
}

body {
  background-image: url("../../public/assets/stained-glass.png");
  background-repeat: no-repeat;
  background-size: "cover";
}
